<div class='sg-extension scrollable {{#if visible}}sg-show{{else}}sg-hide{{/if}}' style='display:none'>
  <header>
     <div class='logo'></div>
     <span>{{artist.name}}</span>
     <div class='settings'><a class="close">×</a></div>
  </header>
  <div class='performer' style="background-image: url('{{artist.image}}')">
  <ul id="menu">
    <li id="sg-local" class='{{#if local_events.events}}selected{{/if}} tab'><a href="#nearby">Nearby</a></li>
    <li id="sg-all"class='{{#unless local_events.events}}selected{{/unless}} tab'><a id="all-events" href="#all">All Events</a></li>
    <li id="sg-related"class='tab'><a href="#related">Related</a></li>
  </ul>
  </div>
    <div class="nearby tab-content" id="nearby" style="{{#if local_events.events}}display: block;{{else}}display: none;{{/if}}">
      <ul class="events">
        {{#each local_events.events}}
         <li class='group'><span class="venue">{{venue.name}}</span><span class="date">9/12/2014</span><a href="{{url}}" target="_blank">Tickets{{#if stats.lowest_price}} from ${{stats.lowest_price}}{{/if}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="all tab-content" id="all" style="{{#unless local_events.events}}display: block;{{else}}display: none;{{/unless}}">
      <ul class="events">
        {{#each all_events.events}}
         <li class='group'><span class="venue">{{venue.name}}</span><span class="date">9/12/2014</span><a href="{{url}} target="_blank"">Tickets{{#if stats.lowest_price}} from ${{stats.lowest_price}}{{/if}}</a></li>
        {{/each}}
      </ul>
    </div>
    <div class="related tab-content" id="related" style="display: none;">
      <ul class="events">
        {{#each related.recommendations}}
         <li class='group'><span class="venue">{{performer.name}}</span><span class="date">Tickets Available</span><a href='{{performer.url}}' target="_blank">Events</a></li>
        {{/each}}
      </ul>
    </div>
</div>
