<div class='sg-extension scrollable {{#if visible}}sg-show{{else}}sg-hide{{/if}}'>
  <header>
     <div class='logo'></div>
     <span>{{artist.name}}</span>
     <div class='settings'><i class='fa fa-gear'></i></div>
  </header>
  <div class='performer' style="background-image: url('{{artist.image}}')">
     <nav>
        <li class="selected">Nearby</li>
        <li>All Events</li>
        <li>Related</li>
      </nav>
  </div>
  <ul class='events'>
  {{#each all_events.events}}
   <li class='group'><span>{{venue.name}}</span><a href='#'>Tickets{{#if stats.lowest_price}} from ${{stats.lowest_price}}{{/if}}</a></li>
  {{/each}}
  </ul>
</div>
